
body{
    background-color: #A2B964;
}


div.backtohome{
    position: fixed;
    top:10px;
    right:20px;
    background-color: green;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
a{
    text-decoration: none;
    color: white;
}

span{
    float: left;
    color: red;
    font-size: 25px;
}

h1{
    text-align: center;
    font-size: 32pt;
    margin: 0;
}

textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 400px;
    font-size: 12pt;
    font-weight: bold;
    font-family: monospace;
}

div{
    text-align: center;
}
fieldset{
    display: inline;
    border-width: 5px;
    border-color: black;
}

fieldset legend{
    text-align: left;
}

footer{
    text-align: right;
}

p{
    margin:0px;
}
.validators{
    float: right;
    display: flex;
    flex-direction: column;

}