body{
    background-color: #A2B964;
}


div.backtohome{
    position: fixed;
    top:50px;
    right:50px;
    background-color: green;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
a{
    text-decoration: none;
    color: white;
}

body {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 12pt;
    margin-left: 20px;
    margin-right: 20px;
}

#header {
    text-align: center;
    margin-bottom: 1em;
}

h1 {
    font-size: 200%;
    font-weight: normal;
    font-style: italic;
    font-family: "Impact", fantasy;
}

legend {
    font-family: "Impact", fantasy;
    font-size: 120%;
}

textarea {
    font-family: monospace;
    font-size: 12pt;
}