
body{
    background-color: #A2B964;
}


#mainContainer{
    display:inline-flex;
    margin-left: 100px;

}

#june{
    margin-left: 300px;
}

.vl {
    border-left: 6px solid green;
    height: 70em;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
#may{
    background-color: #A2B964;
    color:#A2B964;


}

img{
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 40px;
}
nav.backtohome{
    position: fixed;
    top:3px;
    right:50px;
    background-color: green;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
a{
    text-decoration: none;
    color: white;
}

#mytable caption, #syllabus caption{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: forestgreen;
    color: white;
}

#mytable tr:hover , #syllabus tr:hover{
    background-color: forestgreen;
}
#mytable td, #mytable th ,#syllabus td, #syllabus th{
    border: 1px solid #ddd;
    padding: 8px;
}
#mytable , #syllabus {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
/*
.hidden{
    visibility: hidden;
}
*/

div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid forestgreen;
    background-color: forestgreen;
    color: white;
}


