
html {background-color: powderblue;
    background-image: url(src/b3.jpeg);
    background-size: cover;
}


h1   {color: blue;}
p    {color: red;}

html{
    font-size: medium;
    line-height: 1.4;
}

hr {
    display: block;
    height: 1px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 1px solid #EC6433;
    margin: 1em 0;
    padding: 0;
}