
body {
    background-image: url("images/background.png");
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 8pt;
}

h1 {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;

}

.mainContainer {
    max-width: 800px;
    border: 4px solid gray;
    border-radius: 20px;
    margin: auto;

}

.rottenimg {
    margin-top: 0px;

}


.banner {
    text-align: center;
    background-image: url("images/bannerbg.png");
    background-repeat: repeat-x;
}


.validators {
    float: right;

}

.sidebar {
    background-color: #A2B964;
}

.poster {
    float: right;
    right: 3px;
    top: 0px;
    border-radius: 20px;
}


nav {
    position: fixed;
    top: 10px;
    right: 50px;
    color: white;
    background-color: #fff3cd;
    font-size: 10pt;

}

.column_container {
    display: flex;
    box-sizing: border-box;


}

.first_column {
    margin: 10px;
    float: left;


}

.second_column {
    float: right;
    margin: 10px;


}

.third_column {

    top: 0;
    right: 0;
    margin-left: 50px;


}

.c_review {
    border: 2px solid gray;
    border-radius: 10px;
    background-color: #E8DC9B;
    font-size: 8pt;
    font-weight: bold;
}

#number33{
    color: red;
    font-size: 48pt;
    font-weight: bold;



}

.rottenimg {
    background-image: url("images/rbg.png");
    background-repeat: repeat-x;




}
