
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 100%;
    background-color: maroon;

}

li a {
    display: block;
    text-align: center;
    color:white;
    text-decoration: none;

}
li a:hover{
    background-color: gray;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}
input[type=button] {
    width: 100%;
    background-color: maroon;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
}

input[type=text]:focus ,input[type=number]:focus {
    border: 1px solid gray;
}

div {
    border-radius: 5px;
    background-color: lightcyan;
    padding: 20px;
}

table{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border-bottom: 1px solid red;
    box-sizing: border-box;

}
@media screen and (max-width: 600px) {
    ul{
        float:left ;
    }
    }

